.header{
    align-items: center;
    background: #2d394b;
    display: flex;
    height: 60px;
    left: 0;
    padding: 10px 70px 10px 30px;
    position: sticky;
    right: 0;
    top: 0;
}
.name{
    align-items: baseline;
    color: #9cc9f5;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    margin-right: 20px;
    max-width: 45%;
    min-width: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.devices{
    display:flex ;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
button{
    border: 0;
    box-sizing: border-box;
    outline: none;
    padding: 0;
}
.device-btn{
    background-color: initial;
    cursor: pointer;
    margin: 0 6px;
    
}
.device-btn img{
    fill: #8a94a4;
    height: 32px;
    width: 32px;
}
.frame-toggler{
    background: #2d394b;
    border: 1px solid #99a6b999;
    border-radius: 0 0 3px 3px;
    border-top: none;
    cursor: pointer;
    height: 50px;
    position: fixed;
    right: 30px;
    /* top: 0; */
    width: 40px;
    z-index: 25;
}
.frame-toggler .btn-icon{
    border-color: #0000  #0000 #99a6b9;
    border-style: solid;
    border-width: 0 8.5px 7px;
    display: inline-block;
    height: 25px;
    margin-left: 10px;
    width: 0;
}
@media screen and (min-device-width:768px) and (max-device-width:1023px) {
    

}
@media screen and (min-device-width:360px) and (max-device-width:768px) {
    

}